.elementor-174 .elementor-element.elementor-element-241fd9c{text-align:center;}.elementor-174 .elementor-element.elementor-element-241fd9c img{width:100%;max-width:100%;height:30vh;}.elementor-174 .elementor-element.elementor-element-edd6a2f:not(.elementor-motion-effects-element-type-background), .elementor-174 .elementor-element.elementor-element-edd6a2f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F0F0F0;}.elementor-174 .elementor-element.elementor-element-edd6a2f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 30px 50px 30px;}.elementor-174 .elementor-element.elementor-element-edd6a2f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-174 .elementor-element.elementor-element-acd864d.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-174 .elementor-element.elementor-element-040cc28{text-align:center;}.elementor-174 .elementor-element.elementor-element-040cc28 img{width:100%;max-width:100%;height:200px;object-fit:cover;border-radius:3px 3px 3px 3px;}.elementor-174 .elementor-element.elementor-element-f64b92b{text-align:left;}.elementor-174 .elementor-element.elementor-element-f64b92b .elementor-heading-title{color:#333333C9;font-family:"Rosario", Sans-serif;font-size:25px;font-weight:500;letter-spacing:1px;word-spacing:1px;}.elementor-174 .elementor-element.elementor-element-2bbb95b{font-family:"Rokkitt", Sans-serif;font-size:13px;font-weight:300;line-height:20px;}.elementor-174 .elementor-element.elementor-element-2bbb95b > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-f72d385 .elementor-button{font-family:"Roboto", Sans-serif;font-size:15px;font-weight:500;line-height:15px;letter-spacing:2.5px;word-spacing:10px;fill:#F9F5F5;color:#F9F5F5;background-color:#333333;padding:020px 50px 20px 50px;}.elementor-174 .elementor-element.elementor-element-f72d385 .elementor-button:hover, .elementor-174 .elementor-element.elementor-element-f72d385 .elementor-button:focus{color:#FFFFFF;background-color:#FF6533;}.elementor-174 .elementor-element.elementor-element-f72d385 .elementor-button:hover svg, .elementor-174 .elementor-element.elementor-element-f72d385 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-174 .elementor-element.elementor-element-f72d385 > .elementor-widget-container{margin:0px 0px 0px 0px;}body:not(.rtl) .elementor-174 .elementor-element.elementor-element-f72d385{left:5%;}body.rtl .elementor-174 .elementor-element.elementor-element-f72d385{right:5%;}.elementor-174 .elementor-element.elementor-element-f72d385{bottom:0px;}.elementor-174 .elementor-element.elementor-element-15232d9.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-174 .elementor-element.elementor-element-19050ff{text-align:center;}.elementor-174 .elementor-element.elementor-element-19050ff img{width:100%;max-width:100%;height:200px;object-fit:cover;border-radius:3px 3px 3px 3px;}.elementor-174 .elementor-element.elementor-element-56019cb{text-align:left;}.elementor-174 .elementor-element.elementor-element-56019cb .elementor-heading-title{color:#333333C9;font-family:"Rosario", Sans-serif;font-size:25px;font-weight:500;letter-spacing:1px;word-spacing:1px;}.elementor-174 .elementor-element.elementor-element-a59ae1d{font-family:"Rokkitt", Sans-serif;font-size:13px;font-weight:300;line-height:20px;}.elementor-174 .elementor-element.elementor-element-a59ae1d > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-fc88541 .elementor-button{font-family:"Roboto", Sans-serif;font-size:15px;font-weight:500;line-height:15px;letter-spacing:2.5px;word-spacing:10px;fill:#F9F5F5;color:#F9F5F5;background-color:#333333;padding:020px 50px 20px 50px;}.elementor-174 .elementor-element.elementor-element-fc88541 .elementor-button:hover, .elementor-174 .elementor-element.elementor-element-fc88541 .elementor-button:focus{color:#FFFFFF;background-color:#FF6533;}.elementor-174 .elementor-element.elementor-element-fc88541 .elementor-button:hover svg, .elementor-174 .elementor-element.elementor-element-fc88541 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-174 .elementor-element.elementor-element-fc88541 > .elementor-widget-container{margin:0px 0px 0px 0px;}body:not(.rtl) .elementor-174 .elementor-element.elementor-element-fc88541{left:5%;}body.rtl .elementor-174 .elementor-element.elementor-element-fc88541{right:5%;}.elementor-174 .elementor-element.elementor-element-fc88541{bottom:0px;}.elementor-174 .elementor-element.elementor-element-c559c93.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-174 .elementor-element.elementor-element-de33c7c{text-align:center;}.elementor-174 .elementor-element.elementor-element-de33c7c img{width:100%;max-width:100%;height:200px;object-fit:cover;border-radius:3px 3px 3px 3px;}.elementor-174 .elementor-element.elementor-element-5c15308{text-align:left;}.elementor-174 .elementor-element.elementor-element-5c15308 .elementor-heading-title{color:#333333C9;font-family:"Rosario", Sans-serif;font-size:25px;font-weight:500;letter-spacing:1px;word-spacing:1px;}.elementor-174 .elementor-element.elementor-element-e10a34c{font-family:"Rokkitt", Sans-serif;font-size:13px;font-weight:300;line-height:20px;}.elementor-174 .elementor-element.elementor-element-e10a34c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-dbc2d2c .elementor-button{font-family:"Roboto", Sans-serif;font-size:15px;font-weight:500;line-height:15px;letter-spacing:2.5px;word-spacing:10px;fill:#F9F5F5;color:#F9F5F5;background-color:#333333;padding:020px 50px 20px 50px;}.elementor-174 .elementor-element.elementor-element-dbc2d2c .elementor-button:hover, .elementor-174 .elementor-element.elementor-element-dbc2d2c .elementor-button:focus{color:#FFFFFF;background-color:#FF6533;}.elementor-174 .elementor-element.elementor-element-dbc2d2c .elementor-button:hover svg, .elementor-174 .elementor-element.elementor-element-dbc2d2c .elementor-button:focus svg{fill:#FFFFFF;}.elementor-174 .elementor-element.elementor-element-dbc2d2c > .elementor-widget-container{margin:0px 0px 0px 0px;}body:not(.rtl) .elementor-174 .elementor-element.elementor-element-dbc2d2c{left:5%;}body.rtl .elementor-174 .elementor-element.elementor-element-dbc2d2c{right:5%;}.elementor-174 .elementor-element.elementor-element-dbc2d2c{bottom:0px;}.elementor-174 .elementor-element.elementor-element-82812d2{margin-top:100px;margin-bottom:050px;padding:0px 0px 0px 0px;}.elementor-174 .elementor-element.elementor-element-b1b6741{text-align:center;}.elementor-174 .elementor-element.elementor-element-b1b6741 .elementor-heading-title{color:#000000;font-family:"Risque", Sans-serif;font-weight:600;}.elementor-174 .elementor-element.elementor-element-9a9e4fd{text-align:center;width:116.182%;max-width:116.182%;align-self:center;}.elementor-174 .elementor-element.elementor-element-9a9e4fd img{height:500px;object-fit:cover;filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-174 .elementor-element.elementor-element-9a9e4fd > .elementor-widget-container{margin:10px 10px 10px 10px;}.elementor-174 .elementor-element.elementor-element-72000e7 img{height:235px;object-fit:cover;}.elementor-174 .elementor-element.elementor-element-72000e7 > .elementor-widget-container{margin:10px 10px 10px 10px;}.elementor-174 .elementor-element.elementor-element-72000e7{width:50%;max-width:50%;align-self:center;}.elementor-174 .elementor-element.elementor-element-0b586fc img{height:235px;object-fit:cover;}.elementor-174 .elementor-element.elementor-element-0b586fc > .elementor-widget-container{margin:10px 10px 10px 10px;}.elementor-174 .elementor-element.elementor-element-0b586fc{width:50%;max-width:50%;align-self:center;}.elementor-174 .elementor-element.elementor-element-1ea9932 img{height:235px;object-fit:cover;}.elementor-174 .elementor-element.elementor-element-1ea9932 > .elementor-widget-container{margin:10px 10px 10px 10px;}.elementor-174 .elementor-element.elementor-element-1ea9932{width:50%;max-width:50%;align-self:center;}.elementor-174 .elementor-element.elementor-element-5d48098 img{height:235px;object-fit:cover;}.elementor-174 .elementor-element.elementor-element-5d48098 > .elementor-widget-container{margin:10px 10px 10px 10px;}.elementor-174 .elementor-element.elementor-element-5d48098{width:50%;max-width:50%;align-self:center;}.elementor-174 .elementor-element.elementor-element-460e440 img{height:500px;object-fit:cover;}.elementor-174 .elementor-element.elementor-element-460e440 > .elementor-widget-container{margin:10px 10px 10px 10px;}.elementor-174 .elementor-element.elementor-element-fa86051{margin-top:050px;margin-bottom:100px;}.elementor-174 .elementor-element.elementor-element-0283ef9:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-174 .elementor-element.elementor-element-0283ef9 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFEFD;}.elementor-174 .elementor-element.elementor-element-0283ef9 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-174 .elementor-element.elementor-element-0283ef9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-174 .elementor-element.elementor-element-d987fc4 .elementor-button{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:500;letter-spacing:2.5px;word-spacing:10px;fill:#F9F5F5;color:#F9F5F5;background-color:#FF6533;padding:30px 0100px 30px 100px;}.elementor-174 .elementor-element.elementor-element-d987fc4 .elementor-button:hover, .elementor-174 .elementor-element.elementor-element-d987fc4 .elementor-button:focus{color:#FFFFFF;background-color:#000000;}.elementor-174 .elementor-element.elementor-element-d987fc4 .elementor-button:hover svg, .elementor-174 .elementor-element.elementor-element-d987fc4 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-174 .elementor-element.elementor-element-d987fc4 > .elementor-widget-container{margin:0px 0px 0px 0px;}@media(max-width:1024px) and (min-width:768px){.elementor-174 .elementor-element.elementor-element-acd864d{width:50%;}.elementor-174 .elementor-element.elementor-element-15232d9{width:50%;}.elementor-174 .elementor-element.elementor-element-c559c93{width:50%;}.elementor-174 .elementor-element.elementor-element-d0f14df{width:100%;}.elementor-174 .elementor-element.elementor-element-8224a5f{width:100%;}}/* Start custom CSS for html, class: .elementor-element-bfec47e */.breadcrum{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0,-50%);
    color: #7e7e7f;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 800;
}
.breadcrum_title,
.breadcrum_link{
    color: #fff;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-040cc28 */.widget-image-caption:hover{
    color: #ff6533 !important;
}
.img_content::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top:0;
    right:0;
    opacity: 0;
    transition: 0.8s;
}
.img_content{
    overflow: hidden;
}
.img_content::before{
    content: 'VIEW';
    display: block;
    width: 75px;
    height: 75px;
    background-color: #333;
    color: #fff;
    font-size: 15px;
    font-weight: 500px;
    letter-spacing: 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: 1s;
}
.img_content:hover::before{
    color: #fff;
    background: #ff6533;
    cursor: pointer;
    opacity: 1;
}
.img_content:hover::after{
    opacity: 0.6;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f64b92b */.elementor-heading-title:hover{
    color: #ff6533 !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-acd864d */.widget-image-caption:hover{
    color: #ff6533 !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-19050ff */.widget-image-caption:hover{
    color: #ff6533 !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-56019cb */.elementor-heading-title:hover{
    color: #ff6533 !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-15232d9 */.widget-image-caption:hover{
    color: #ff6533 !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-de33c7c */.widget-image-caption:hover{
    color: #ff6533 !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-5c15308 */.elementor-heading-title:hover{
    color: #ff6533 !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c559c93 */.widget-image-caption:hover{
    color: #ff6533 !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-9a9e4fd */.img_content_pdb::after{
    content: '';
    display: block;
    width: 95%;
    height: 95%;
    background-color: #333;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: 0.8s;
}
.img_content_pdb{
    overflow: hidden;
}
.img_content_pdb::before{
    content: 'VIEW';
    display: block;
    width: 100px;
    height: 100px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    letter-spacing: 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: 1s;
}
.img_content_pdb:hover::before{
    color: #fff;
    background: #ff6533;
    cursor: pointer;
    opacity: 1;
}
.img_content_pdb:hover::after{
    opacity: 0.6;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-1ea9932 */.img_content_pd::after{
    content: '';
    display: block;
    width: 93%;
    height: 93%;
    background-color: #333;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: 0.8s;
}
.img_content_pd::before{
    content: 'VIEW';
    display: block;
    width: 100px;
    height: 100px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    letter-spacing: 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: 1s;
}
.img_content_pd:hover::before{
    color: #fff;
    background: #ff6533;
    cursor: pointer;
    opacity: 1;
}
.img_content_pd:hover::after{
    opacity: 0.6;
}/* End custom CSS */